@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui;
  --color-easy-red: #E5293F;
  --color-easy-gray-primary: #80929B;
  --color-easy-gray-secondary: #ACBAC2;
  --color-easy-black: #1C1C1C;
  --color-easy-white: #FFF;
  --color-easy-green: #61CE70;
  --background-image-easy-gradient: linear-gradient(180deg, #F5F5F5 0%, #D9D9D9 100%);
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}